@import url(/css/normalize.css);

:root {
    /*Colors*/
    --Slate-900: #1F314F;
    --Slate-500: #68778D;
    --Slate-300: #D5E1EF;

    /*Spacing*/
    --500: 40px;
    --300: 24px;
    --200: 16px;
}

/*------------------GENERAL STYLES------------------*/

body {
    height: 100vh;
    background-color: var(--Slate-300);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font: bold 22px/140% "outfit", sans-serif;
    color: var(--Slate-900);
    letter-spacing: 0;
    line-height: 1.1;

    margin-top: var(--300);
    margin-bottom: 15px;

    width: 256px;
}

p {
    font: 400 15px/140% "outfit", sans-serif;
    color: var(--Slate-500);
    letter-spacing: 0.2px;

    width: 256px;
}

/*------------------QR CODE CARD------------------*/

.card {
    width: 320px;
    height: 499px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #fff;
    border-radius: 20px;
    padding: var(--200) var(--200) var(--500) var(--200);
}

img {
    width: 288px;
    height: 288px;

    border-radius: 10px;
}

/*------------------FOOTER------------------*/

