@import url(/css/normalize.css);

:root {
    /*Colors*/
    --Slate-900: #1F314F;
    --Slate-500: #68778D;
    --Slate-300: #D5E1EF;

    /*Spacing*/
    --500: 40px;
    --300: 24px;
    --200: 16px;
}

/*------------------GENERAL STYLES------------------*/

body {
    background-color: var(--Slate-300);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font: bold 22px/140% "outfit", sans-serif;
    color: var(--Slate-900);
    letter-spacing: 0;
}

p {
    font: 400 15px/140% "outfit", sans-serif;
    color: var(--Slate-900);
    letter-spacing: 0.2px;
}


